<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.3.2" targetFramework="net40" />
  <package id="knockoutjs" version="2.1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.1.0" targetFramework="net40" />
</packages>